/* Medai qurey section */

@media screen and (min-width: 975px) and (max-width: 1024px) {
    
  .container{
      margin: 0;
  }
  
}
@media screen and (max-width:975px) {
  
  .container{
      margin: 0;
  }
  
  .nav div.logo{
      margin-left: 15px;
  }
  
  .nav div.main_list{
      width: 100%;
      margin-top: 65px;
      height: 0px;
      overflow: hidden;
  }
  
  .nav div.show_list{
      height: 285px;
  }
  
  .nav div.main_list ul{
      flex-direction: column;
      width: 100%;
      height: 200px;
      top: 80px;
      right: 0;
      left: 0;
  }
  
  .nav div.main_list ul li{
      width: 100%;
      height: 40px;
      background-color:black;
  }
  
  .nav div.main_list ul li a{
    text-align: center;
      line-height: 40px;
      width: 100%;
      height: 40px;
      display: table;
  }
  
  .nav div.media_button{
      display: block;
  }
}
@media only screen and (max-width: 630px) {
    .progress-bar {
      width: 95%;
    }
    .ed_main{
      box-shadow: none;
      align-items: center;
    }
    .ed_main .box{
      display: flex;
      flex-direction: column;
      align-items: center;
   
    }
    .ed_main .box img{
      align-content: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .box .text{
      text-align: center;
      margin: 1% 0 2.5%;
      padding: 5% ;
      /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }
  }
@media only screen and (max-width:920px) {
.ed_main{
  width: 100%;
}
.progress-bar{
  width: 99%;
}
.progress-container{
 width: 95%;
}
.about_sec{
  width: 100%;
}
}

@media screen and (max-width:860px) {
  .st2{
    display: flex;
    flex-direction: column;
  }
}

/* contact section media queries starts */
@media (max-width:900px) {
  .contact{
    min-height: 70vh;
  }
  .contact .container{
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content{
    padding: 18px 12px;
  }
  .contact .content .image-box{
    display: none;
  }
  .contact .content form{
    width: 100%;
    margin-right: 2rem;
  }
}


/* footer section */
@media(max-width:450px){
  .footer .box-container .box{
    margin: 1.5rem;
  }
  .footer .box-container .box p{
    padding: 0.7rem;
  }
  .footer .box-container .box .share a{
    padding: 1.2rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media(max-width:450px){
  html{
    font-size: 55%;
  }
  body{
    padding-right: 0;
  }
  section{
    padding: 2rem;
  }
}