 /* navbaar */
 /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito  :ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1.0s;
    
    text-decoration: none;
}
   body{
    padding: 0;
    margin: 0;
    /* background-color: rgb(97, 43, 43); */
  background-color: black;

  } 

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */
.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color:black;
    box-shadow: rgb(77, 77, 77) 0px 0px 0px 2px;
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #FF0000;
}

.nav div.main_list{
    /* border: 1px solid black; */
    width: 600px;
    height: 65px;
    float: right;
    width: auto;
    
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #FF0000;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

  /* home */
  #home_sec{
    border: 1px solid black;
    width: 100%;
    /* height: auto; */
    /* background-color: black; */
  }
  #home{
    border: 1px solid black;
    width: 80%;
    color: black;
    height: auto;
    margin: 8rem auto 0rem auto;
    margin-bottom: 0px;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
  }
  .home_left {
    border: 1px solid rgb(230, 49, 49);
    padding: 10% 0 0 0;
    width: 50%;
  }
  .home-img {
    /* border: 1px solid greenyellow; */
    
    /* width: 50%; */
    background-size: cover; 
    height: auto;

  }
  
  .home-img img {
    border: 0px solid rgb(191, 46, 46);
    box-shadow: #a4edd7 0px 8px 24px, #a4edd7cf 0px 4px 56px, #a4edd77a 0px 6px 30px;
    margin: 3rem 3rem 0px 0px;
    border-radius: 50%;
    height: 70%;
   background-color: rgb(184, 224, 232);
   /* box-shadow: whitesmoke 1px 5px ; */
    /* background-color: rgb(252, 214, 168); */
  }
  
  .home_left {
    border: 1px solid black;
    /* margin: 5rem 0rem 0rem 0rem; */
    width: 49%;
  }
  .ft1 {
    font-size: 3.5rem;
    margin: 0px;
  }
  .ft2 {
    font-size: 1.8rem;
  }
  .home_left > a {
    /* border: 1px solid black; */
    padding: 0.5rem;
    border-radius: 1.9rem;
    font-size: 1.5rem;
  }
  .res {
    border: 1px solid black;
    padding: 0.5rem;
    background-color: #a4edd7;
    font-weight: bolder;
    border-radius: 0.2rem;
  }
  .socials {
    /* border: 1px solid black; */
    /* position: relative; */
    margin-top: 3rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 1.5rem;
    display: inline-block;
    line-height: 44px;
    color: white;
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.kaggle:hover {
    background-color: #007bb6;
  }
  .social-icons a.dev:hover {
    background-color: #070707;
  }
  .social-icons a.instagram:hover {
    background-color: #ee00da;
  }
  
  /* about */
  #about{
   /* border: 1px solid black; */
   background-color: white;
   color: black;
   width: 100% ;
   height: auto;
   max-width: none;
    margin: 13rem auto 0px;
    text-align: center;
    padding: 2rem;
  }
  .me{
    /* margin-top:-100px; */
    padding: 2.5rem 0px 0px 0px;
    font-size:xx-large;
  }
  #about>h1{
    text-align: center;
  }
  #w{
    color: #7303a7;
  }
  .about_sec{
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    
    margin: 2rem auto 0px ;
  }
  .about_right{
    
    /* border: 1px solid black; */
    width: 70%;
    margin: 2rem auto;
    height: auto;

  }
  #user-detail-name{
    
    /* color: #7303a7; */
    color: #d88a15;
    font-size: xx-large;
  }
  #user-detail-intro{
    text-decoration: none;
    font-size: larger;
    margin: 0px;
    /* font-weight: 700; */
  }
  .about_right>p{
    font-size:large;
  }
 
  /* Skills */
  #skills{
    background-color: #303031;
    height: auto;
    margin: auto;
    padding: 10vh;
  }
  #skills h1{
    color: white;
    text-align: center;
    padding: 0 0 7vh 0;
    margin: auto 0;
    font-size: xx-large;
  }
  #A{
    color: #8cf5d5;
  }
  .progress-container {
      height: 100%;
      width: 80%;
      margin: auto;
      padding: 2%;
      border-radius: 10px;
      background-color: #a4edd7;
    }
    .progress-label {
        font-size: large;
        font-weight: bold;
      }
    .progress-bar {
      border: 2px solid black;
      width: 80%;
      margin: 10px 0;
      background-color: rgb(255, 255, 255);
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
    }
   
    #html-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: red;
      width: 80%;
      transition: width 1s ease-in-out;
    }
    #css-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: blue;
      width: 75%;
      transition: width 1s ease-in-out;
    }
    
    #js-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: yellow;
      width: 70%;
      transition: width 1s ease-in-out;
    }
    #java-bar .progress{  
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: #ce0505;
      width: 75%;
      transition: width 1s ease-in-out;
    }
    #php-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: #8054c7;
      width: 40%;
      transition: width 1s ease-in-out;
    }
    #bootstrap-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: #772cf0;
      width: 70%;
      transition: width 1s ease-in-out;
    }
    #mysql-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: #f38b03;
      width: 70%;
      transition: width 1s ease-in-out;
    }
    #git-bar .progress{
      height: 20px;
      border-radius:10px 15px 15px 10px;
      background-color: #1b234a;
      width: 80%;
      transition: width 1s ease-in-out;
    }
    
    
    /* @media only screen and (max-width: 600px) {
      .progress-bar {
        width: 90%;
      }
    } */
    
 /* Education */
 #education{
  background: #ffffff;
  min-height: auto;
  padding: 10vh;
  /* padding: 0 0 7vh 0;
  margin: auto 0;
  font-size: xx-large;
  align-items: center; */
}
#education >h1{
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0.5rem;
  
}
.edt{
  color: #7303a7;
}
#education>p{
  text-align: center;
  margin-bottom: 4rem;
}
.ed_main{
  /* border: 1px solid black; */
  border-radius: 10px;
  height: auto;
  width: 70%;
  margin: 1.5rem auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.ed_main .box{
  display: flex;
  gap: 3%;
}
.box .text{
  height: auto;
  width: auto;
  margin-top: 40px;
  /* border: 1px solid black; */
  vertical-align: middle;
}
.ed_main .box img{
  /* border: 1px solid rgb(164, 164, 164); */
  height: 160px;
  width: 200px;
  border-radius: 10px;
}
.box .text h1{
  color: #7303a7;
}
.box .text p{
color: blue;
}
.box .text h2{
  color: green;
}

/* .ed_main .box .text h1{
color: #7303a7;
} */











/* footer section */
.footer{
  min-height: auto;
  padding-top: 0;
  background: rgb(40, 40, 40);
}
.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box{
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3{
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p{
  font-size: 1.1rem;
  color: #ccc;
  padding: .7rem 0;
  text-transform: none;
}
.footer .box-container .box p i{
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a{
  font-size: 1.2rem;
  color: rgb(238, 238, 238);
  padding: .3rem 0;
  display: block;
}
.footer .box-container .box a:hover{
  color: #ffae00;
}
.footer .box-container .box .share{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a{
  height: 3rem;
  width: 3rem;
  padding: 0.7rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: .2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover{
  background: transparent;
  transform: scale(0.98);
  border: .1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit{
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Nunito',sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: .1rem solid #fff3;
}
.footer .credit a{
  color: #ffae00;
}
.footer .fa{
    color: #E90606;
    margin: 0 .3rem;
    font-size: 1.5rem;
    animation: pound .35s infinite alternate;
}
@-webkit-keyframes pound{
  to{
    transform: scale(1.1);
  }
}
@keyframes pound{
  to{
    transform: scale(1.1);
}
}